@model juegos_mvc.Models.Genero

@{
    ViewData["Title"] = $"Género {Model.Descripcion}";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Datos de @Model.Descripcion</h5>

                <hr />

                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>
                </dl>
                <hr />
                <div class="form-group">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">
                        Editar
                    </a>
                    <a asp-action="Index" class="btn btn-danger">
                        Cancelar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
