
@{
    ViewData["Title"] = "No Autorizado";
}

<h1>Acceso No Autorizado</h1>
<p>
    El usuario <span class="text-danger">@User.Identity.Name</span> no se encuentra autorizado para acceder al recurso solicitado.
</p>

